img {
  max-width: 100%;
}
#logo, #search {
  padding: 30px 0;
}

.navbar .nav>.action>a, .navbar .nav>.action>a:hover, .navbar .nav>.action>a:focus {
  color: #555;
  text-decoration: none;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 3px solid #009571;
}

.content-box {
  border: 1px solid #d7d7d7;
  border-top: none;
  padding: 10px;
  margin-bottom: 20px;
}

.content-box h2 {
  font-size: 15px;
  line-height: 30px;
  margin-top: 0;
}

.content-meta span, .content-meta time {
  margin-right: 10px;
  color: #828282;
}

.content-meta img {
  width: 32px;
}
.media-box {
  height: 260px;
  overflow: hidden;
}
.icon-bow {
  display: block;
  width: 32px;
  height: 21px;
  margin: 0 auto;
  background: url(/images/bow.png) no-repeat 50% 50% #fff;
  margin-top: -30px;
  padding: 0 10px;
}
/*底部边栏的样式*/
#bottom {
  background: #009571 url(/images/emerald.png);
  padding: 20px 0;
}
#bottom h3 {
  font-size: 18px;
  color: #075442;
  text-shadow: 1px 1px 1px #03a67f;
  background: url(/images/dashed-h.png) repeat-x 0 50%;
}
#bottom h3 span{
  background: url(/images/emerald.png);
  padding-right: 10px;
}
.dashed-v {
  background: url(/images/dashed-v.png) repeat-y 100% 0;
  padding: 0 20px 20px 0;
}
#bottom {
  background: url(/images/emerald-footer.png) repeat-x #097a5f;
  padding: 30px 0px 20px 0;
  color: #064536;
  text-shadow: 1px 1px 1px #009571;
}
